.bloco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bloco2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bloco3 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bloco4 {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
i.red-icon {
    color: red;
}

div.cartao {
  width: 100%;
  height: 50%;
}

.bloco5 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}






div.uploadimagem{
  background-color: #B2AF36;

}
